@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,500;1,100;1,400&display=swap");
.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 99.8vw;
  height: 70px;
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(7.5px);
  -webkit-backdrop-filter: blur(7.5px);
  border-radius: 2px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.navbar .heading {
  color: #8661d1;
  font-size: 20px;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
}
