.recipe-list{
border-right:6px solid black;
border-left:6px solid black;
min-height:100vh;
width:50%;

}

.recipe-list__add-recipe-list-button{
padding-top:30px;
padding-bottom:30px;
text-align:center;

}