.recipe-edit{
    padding:30px;
    padding-top:10px;
    position:fixed;
    right:0;
    top:0;
    width:50%;
    max-height:100%;
    overflow-y:auto;

}

.recipe-edit__remove-edit-btn-con{
    text-align:end;
}

.recipe-edit__remove-edit-button{
    padding:0;
    border:none;
    background:none;
    outline:none;
    font-size: 2rem;
}

.recipe-edit__details-grid{
    display:grid;
    grid-template-columns: auto 1fr;
    row-gap: 20px;
    column-gap:100px;
}

.recipe-edit__label{
    font-weight:bold;
}

.recipe-edit__input{
    border: 2px solid black;
    border-radius: 15px;
    font-size:inherit;
    padding: 5px 10px;
    outline: none;
    width:100%
}

.recipe-edit__ingredient-grid{
    display:grid;
    grid-template-columns:repeat(3, auto);
    gap:20px;
    margin-top : 30px;
    margin-left: 30px;
}

.recipe-edit__add-ingredient-btn-container{
    margin-top: 25px;
    text-align: center;
}


@media (max-width:1000px;){
    .recipe-edit__details-grid,
    .recipe-edit__ingredient-grid{
        grid-template-columns:1fr;
    }
}