* {
  margin: 0;
  padding: 0;
}

.app {
  background-image: linear-gradient(
    to right,
    rgb(242, 112, 156),
    rgb(255, 148, 114)
  );
  min-height: 100vh;
  width: 100vw;
  align-items: center;
}
.note-section {
  padding: 15px;
}
